.header {
    color: royalblue;
    background-color: salmon;
    text-align: center;
    font-family: Brush Script MT, cursive;
}

.recipe {
    font-weight: bold;
}

.pancake {
    color: teal;
}

.waffles {
    color: rgb(202, 106, 186);
}

.french-toast {
    color: rgb(67, 58, 151);
}

.pancake-pic,
.waffle-pic {
    height: auto;
    width: 600px;
}

.cake {
    color: sienna;
    background-color: tan;
}
.ingredients,
.steps {
    font-family: 'Courier New', Courier, monospace;
}
.emphasis {
    color: rgb(243, 36, 0);
    font-weight: bolder;
}
.waf {
    color: beige;
    background-color: saddlebrown;
}
.fancy {
    font-family: cursive;
    font-size: larger;
}